<header>
    <head>
        <link rel="icon" type="image/x-icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">
    </head>
    <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
    <nav>
        <ul>
        {% for link in site.data.navigation.main %}
        <li><a href="{{ link.url | relative_url }}">{{ link.title }}</a></li>
        {% endfor %}
        </ul>
    </nav>
    <!-- <nav>
        {% if page.url contains '/en/' %}
            <a href="{{ page.url | replace: '/en/', '/jp/' }}">日本語</a>
        {% else %}
            <a href="{{ page.url | prepend: '/en' }}">English</a>
        {% endif %}
    </nav> -->
</header>